html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin: 0;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(28, 179, 43));
}
section {
  flex: 1;
  background-image: image(src/images/foodBackground.png);
}

#mealsTable th,
#mealsTable td {
  padding: 8px;
  border-right: none;
  border-bottom: 2px solid green;
  line-height: 25px;
}

#mealsTable td {
  text-align: right;
}

#mealsTable {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  height: 400px; /* Set the fixed height */
  overflow-y: scroll; /* Enable vertical scrolling */
  display: block;
}
#mealsTable th {
  font-size: 1.4rem;
  background-color: rgb(29, 106, 37);
  color: white;
  padding: 10px 5px;
}

*/ #mealsTable tfoot input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}
/* //trying to make a scroll table */
#mealsTable tbody {
  height: 100px; /* Set a fixed height for tbody */
  overflow-y: scroll; /* Enable vertical scroll */
}

#mealsTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#mealsTable tbody tr:hover {
  background-color: #ddd;
}

#mealsTable tbody tr td:last-child {
  width: 50px; /* Adjust as needed */
  text-align: center;
}
#mealsTable tbody tr td:last-child .plus {
  cursor: pointer;
}

/* #mealsTable tbody tr td:last-child .plus::after {
  content: "+";
} */
.table-actions {
  width: 90px;
  line-height: 65px;
}

.action-btn {
  cursor: pointer;
  min-width: 34px;
}

.edit-btn {
  display: none;
  color: #039903;
}
.delete-btn {
  display: none;
  color: #b90303;
}

#mealsTable tr:hover .action-btn {
  display: inline-block;
}

.order {
  opacity: 0.3;
  cursor: pointer;
}

.plus {
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 3px;
  align-content: flex-end;
}
#mealsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* //align  square button .plus to right */

.tbar {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.tfill {
  flex: 1;
}

.tbar label {
  padding: 5px;
}

footer {
  background-color: #008000;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.progress__scroll {
  position: fixed;
  bottom: 0px;
  right: 40px;
  height: 70px;
  width: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 10 10px rgba(0, 0, 0.2);
  cursor: pointer;
}

.progress__scroll--value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: black;
}
